{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Выйти из системы?
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'logout' %}" class="d-inline">
          {% csrf_token %}
          {% bootstrap_button button_type="submit" content="Выйти" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
